<!doctype html>
<title>Coverage Manager</title>
<!--link here-->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>Coverage Manager</h1>
  {% if session._fresh %}    
    <div class=metanav>
        <p> {{ session.real_name }}  
        <a href="{{ url_for('cov_select') }}">Selection Page</a>  
    <a href="{{ url_for('logout') }}">Log Out</a> 
    </p>
</div>
  {% endif %}  

{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}
    {% block body %}{% endblock %}
</div>

